<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Something's Missing</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="app">
      <img width="115" height="123" src="assets/logo.png" class="vc_single_image-img attachment-full" alt="">
      <h1>This isn't the page you're looking for.</h1>
      <div class="info">{{route}}</div>
      <p>Try checking the URL for errors to be sure you're not in the wrong place.</p>
      <a href="/">Return to the homepage</a>
    </div>
    <script type="text/javascript">
      console.log('For a list of available API endpoints, go here:');
      console.log(window.location.origin + '/api');
    </script>
  </body>
  <style media="screen">
    a {
      margin-top: 25px;
    }
  </style>
</html>
